body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    color: white;
    font: 16px/1.4 Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 20px 10px 20px 10px;
    padding-bottom: 100px;
    border-radius: 5px;

}

#img-header {
    text-align: center;
    margin: 20px;
}

#img-div {
    background-color: yellow;

}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    background-color: yellow;
    padding: 20px 300px 20px 400px;
}

#img-caption {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

#tribute-info {
    text-align: center;
}

#timeline {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

li {
    margin: 10px 0px 10px 0px;
}

blockquote {
    background-color: yellow;
    color: black;
    font-style: italic;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    border: 2px solid yellow;
    border-radius: 5px;
}

#tribute-link {
    font-size: 18px;
    font-weight: bold;
}